{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<div class="example" style="background-color:#FFA07A; padding: 2%">
        <h3 class="container card-text">The great thing about one focus for a blog is that you’re
                likely passionate about it and that will give you an edge when it comes to keeping up with the blog.</h3>
</div>

<div class="container" id="particles-js" style="margin-top:3%">

        <div class="row">
                <div class="col-md-6" style="margin-top:5%">
                        <blockquote class="text-center text-lg">
                                <p><i>{{ quotes.quote }}</i></p>
                                <p>{{ quotes.author }}</p>

                        </blockquote>
                </div>

                <div class="col-md-6">
                        <img src="https://www.start-business-online.com/images/article_manager_uploads/blog.jpg" width="300"
                                height="200">
                                <h6 class="text" style="margin-left:6%"><small>Read to create a blog?<a href="{{url_for('auth.login')}}""><strong>Sign in</strong></small></h6>
                </div>
        </div>

        <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
                <li class="nav-item">
                        <a id="cats" class="nav-link" data-toggle="tab" href="#all" style="color: black"><strong></strong></a><br>
                </li>

        </ul>
        <div class="tab-content">
                <div class="container tab-pane active" id="all"> <br>
                        {{macro.displayBlog(blogs)}} </div>

        </div>
</div>

{% endblock%}