<ul class="nav flex-column" style="margin-top:3%; margin-left:5%">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.index')}}" style="color: black">HOME</a>
    </li>

    {% if current_user.is_authenticated %}
    <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.profile',name = current_user.username)}}" style="color: black">PROFILE</a>
    </li>

    {% else %}
    <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.index')}}" style="color: black"></a>
        </li>
    {% endif %}

    {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.new_blog')}}" style="color: black"><strong>CREATE A BLOG</strong></a>
        </li>
        
    {% endif %}  

</ul>

